.fav{
    font-size: 80px;
    margin-left:750px;
    margin-top: 50px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    margin-left: 75px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    background: #FFFFFF;
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    border-radius: 14px;
  }
  #cercle {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: rgb(70, 25, 25);
    float: left;
}
.namecl{
    float: left;
    margin-left: 15px;
}
#cercle-top {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 284px;
    background: #ffffff;
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.card-img-top{
    border: 1px solid #00E0FF;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}
.barbleu1{
    position: absolute;
    left: 10px;
    top: 290px;
    width: 50px;
    height: 20px;
    background: #00E0FF;
    border-radius: 10px;
}
.barbleu2{
    position: absolute;
    left: 65px;
    top: 290px;
    width: 66px;
    height: 20px;
    background: #00E0FF;
    border-radius: 10px;
}
.barbleu3{
    position: absolute;
    left: 10px;
    top: 290px;
    width: 70px;
    height: 20px;
    background: #00E0FF;
    border-radius: 10px;
}
.barbleu4{
    position: absolute;
    left: 85px;
    top: 290px;
    width: 85px;
    height: 20px;
    background: #00E0FF;
    border-radius: 10px;
}
.barbleu5{
    position: absolute;
    left: 173px;
    top: 290px;
    width: 75px;
    height: 20px;
    background: #00E0FF;
    border-radius: 10px;
}
#cercle-bot1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 180px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
}
#cercle-bot2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
}
#cercle-bot3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 14px;
    top: 9px;
    box-sizing: border-box;
    border-radius: 10px;
}

#cercle-top1{
    width: 150px;
    height: 150px;
    left: 50px;
    background: #5f0202;
    box-sizing: border-box;
    border-radius: 100px;
}

.colorgrey{
    color: rgb(97, 97, 97);
}
.bleubarb{
    background-color: rgba(0, 213, 255, 0.377);
    width: auto;
    height: 60px;
    margin-left: 70px;
    margin-right: 70px;
}
#publica{
    text-align: center;
    width: 155px;
    height: 50px;
    left: 500px;
    color: rgba(0, 212, 255, 1);

}
#discuss{
    position: absolute;
    color: white;
    width: 155px;
    height: 50px;
    left: 1000px;
    top: 505px;
}
.publica1{
position: absolute;
width: 180px;
height: 50px;
left: 500px;
top: 500px;
background: #ffffff;
}

/* ______________________thomas________________________________ */

/* //
//  Connexion & Inscription
// */

.main_container_inscrip {
    position: absolute;
    width: 98%;
    height: 100%;
    background: no-repeat;
    background-image: url("base_assets/illus.png");
    background-position: top 10px left -70px;
    background-size: 120vh;
    top: 0;
}

.form_container_inscrip {
    background-color: whitesmoke;
    width: fit-content;
    margin-left: 60%;
    margin-top: 5%;
    height: 50%;
    box-shadow: 5px 5px 5px rgba(124, 124, 124, 0.568);
}

.dentiio {
    position: relative;
    height: 93px;
    left: 2%;
    top: 2vh;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.466);
}


/* //
//  Overlay
// */

.main_container_categorie {
    border: solid;
    position: absolute;
    width: 98%;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.opacity_square {
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;
}

.cat_container {
    background-color: rgba(102, 255, 0, 0.342);
    width: 50vw;
    height: 50vh;
}


/* ___________________________Nathan_________________________________________ */
body {
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: auto;
    background-color: #69aeda;
}
  
#left {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.leftIcon {
    float: left;
}
  
.leftIcon a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



button {
    background-color: #69aeda ;
    border: none;
}

#SearchBar {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

#SearchBar::placeholder {
    color: #ffff;
}

#Burgonde {
    width:80px;
    height:80px;
    border-radius: 50%;
}


#toggle {
    width: 28px;
    height: 30px;
    margin: 163px auto 10px;
}

button#toggle {
    padding: 33px;
}
  
#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}
  
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
  
  /* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}
  
  /* menu appearance*/
#menu {
    position: relative;
    color: #999;
    width: 400px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;  
}

#menu:after {
    position: absolute;
    top: -5px;
    left: 42.5px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

#menu ul {
    list-style-type: none;
}

#menu ul a {
    list-style-type: none;
    color: black;
}

div#specIcon {
    width: 50px;
}